/* BODY */
body {
	position: relative;
}

.dark body::after {
	content: '';
	position: absolute;
	background-image: url('/shrek.webp');
	background-size: 228px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.05;
}

/* TABLE */
.ui-table {
	width: 600px;
	height: 600px;
}

/* ANIMATIONS */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
